// jQuery
script(src='../lib/jquery/dist/jquery.min.js')
// Bootstrap
script(src='../lib/bootstrap/dist/js/bootstrap.min.js')
// FastClick
script(src='../lib/fastclick/lib/fastclick.js')
// NProgress
script(src='../lib/nprogress/nprogress.js')
// Flot
script(src='../lib/Flot/jquery.flot.js')
script(src='../lib/Flot/jquery.flot.pie.js')
script(src='../lib/Flot/jquery.flot.time.js')
script(src='../lib/Flot/jquery.flot.stack.js')
script(src='../lib/Flot/jquery.flot.resize.js')
// Flot plugins
script(src='../lib/flot.orderbars/js/jquery.flot.orderBars.js')
script(src='../lib/flot-spline/js/jquery.flot.spline.min.js')
script(src='../lib/flot.curvedlines/curvedLines.js')
// DateJS
script(src='../lib/DateJS/build/date.js')
// Datatables
script(src='../lib/datatables.net/js/jquery.dataTables.min.js')
script(src='../lib/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(src='../lib/datatables.net-buttons/js/dataTables.buttons.min.js')
script(src='../lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
script(src='../lib/datatables.net-buttons/js/buttons.flash.min.js')
script(src='../lib/datatables.net-buttons/js/buttons.html5.min.js')
script(src='../lib/datatables.net-buttons/js/buttons.print.min.js')
script(src='../lib/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
script(src='../lib/datatables.net-keytable/js/dataTables.keyTable.min.js')
script(src='../lib/datatables.net-responsive/js/dataTables.responsive.min.js')
script(src='../lib/datatables.net-responsive-bs/js/responsive.bootstrap.js')
script(src='../lib/datatables.net-scroller/js/datatables.scroller.min.js')
script(src='../lib/jszip/dist/jszip.min.js')
script(src='../lib/pdfmake/build/pdfmake.min.js')
script(src='../lib/pdfmake/build/vfs_fonts.js')
// Datatables
script(src='js/datatables.js')
// Custom Theme Scripts
script(src='js/custom.min.js')
// Chart
script(src='js/lower-chart.js')